<div class="modal fade" id="Modal{{ food_item.fdcId }}" tabindex="-1" aria-labelledby="Modal{{ food_item.fdcId }}Label"
    aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">

    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="Modal{{ food_item.fdcId }}Label">
                    Log: {{ food_item.fdcId }}
                </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <!-- Modal Body -->
            <div class="modal-body">
                <form method="POST" action="{% url 'save_logItem' food_item.fdcId %}">
                    {% csrf_token %}

                    <div class="row g-2 align-items-center mb-3">
                        <div class="col-auto">
                            <label for="percent{{ food_item.fdcId }}" class="col-form-label">Servings:</label>
                        </div>

                        <div class="col-auto">
                            <input type="number" id="percent{{ food_item.fdcId }}" name="percentConsumed" step="1"
                                min="0" max="1000" value="1" class="form-control" style="width:120px;">
                            {{ form.percentConsumed.errors }}
                        </div>

                        <div class="col-auto">
                            <input id="date-Input" type="datetime-local" name="date" class="form-control"
                                style="width:190px;">

                            <script>
                                window.onload = function () {
                                    const datetimeInput = document.getElementById("date-Input");
                                    const now = new Date();

                                    const formattedDateTime = now.toISOString().slice(0, 16); // simpler!
                                    datetimeInput.value = formattedDateTime;
                                }
                            </script>

                        </div>
                    </div>

                    <input type="hidden" name="fdcId" value="{{ food_item.fdcId }}">

                    <!-- Optional: Summary of the food -->
                    <div class="nutrition-label mb-3">
                        {% include '_food_card.html' %}
                    </div>

                    <!-- Modal Footer with Buttons -->
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Save</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>

                </form>
            </div>

        </div>
    </div>
</div>